<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dengtao.travel.mapper.TravelAddressMapper">

    <select id="search" resultType="TravelAddress" parameterType="String">
        select id,addressName,synopsis
        from traveladdress
        <where>
            <if test="keyword!=null and keyword!=''">
                and addressName like concat("%",#{keyword},"%")
            </if>
            <if test="keyword!=null and keyword!=''">
                or synopsis like concat("%",#{keyword},"%")
            </if>
        </where>
    </select>
    <select id="searchAll" resultType="TravelAddress">
        select id,addressName,synopsis
        from traveladdress
    </select>
</mapper>